<div class="productGrid">
  <div class="gridItem">
    <img width="100%" height="100%">
    <buttom>+</buttom>
  </div>
  <div class="gridItem">
    <img width="100%" height="100%">
    <buttom>+</buttom>
  </div>
  <div class="gridItem">
    <img width="100%" height="100%">
    <buttom>+</buttom>
  </div>
  <div class="gridItem">
    <img width="100%" height="100%">
    <buttom>+</buttom>
  </div>
  <div class="gridItem">
    <img width="100%" height="100%">
    <buttom>+</buttom>
  </div>
  <div class="gridItem">
    <img width="100%" height="100%">
    <buttom>+</buttom>
  </div>
</div>

<style>
  .productGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .gridItem {
    width: 433px;
    height: 444px;
    gap: 0;
    opacity: 0;

  }

</style>