<div class="productGrid">
  <div>
    <img width="100%" height="100%">
    <buttom>+</buttom>
  </div>
  <div>
    <img width="100%" height="100%">
    <buttom>+</buttom>
  </div>
  <div>
    <img width="100%" height="100%">
    <buttom>+</buttom>
  </div>
  <div>
    <img width="100%" height="100%">
    <buttom>+</buttom>
  </div>
  <div>
    <img width="100%" height="100%">
    <buttom>+</buttom>
  </div>
  <div>
    <img width="100%" height="100%">
    <buttom>+</buttom>
  </div>
</div>

<style>
.productGrid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

</style>