.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}
.select {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #000;
}
.default {
  justify-content: start !important;
}

.option {
  padding: 0 30px 0 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  background: #fff;
  color: #000;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
  order: 2;
  z-index: 1;
  transition: background 0.4s ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
}

.option:hover {
  background: #000;
  color: #fff;
}

.select:focus .option {
  position: relative;
  pointer-events: all;
}

.size-selector input {
  display: none;
}

input:checked + label {
  order: 1;
  z-index: 2;
  background: #fff;
  border-top: none;
  position: relative;
  color: #000;
}

input:checked + label:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
  position: absolute;
  right: 15px;
  top: calc(50% - 2.5px);
  pointer-events: none;
  z-index: 3;
  color: #000;
}

input:checked + label:before {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  content: "";
  background: #fff;
  color: #000;
  border: 1px solid black;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}

.colorHeader {
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
}

.secondDiv .color-selector {
  width: 271px;
}
.secondDiv .color-button-group {
  display: flex;
  height: 40.44px;
  border: 0.5px solid rgba(0, 0, 0, 1);
}
.secondDiv .color-option {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.secondDiv .color-option span {
  position: relative;
  z-index: 2;
  transition: color 0.3s ease;
}
.secondDiv .color-option::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: black;
  transition: width 0.3s ease;
}
.secondDiv .color-option.selected::before {
  width: 100%;
}
.secondDiv .color-option.selected span {
  color: white;
}
.secondDiv .divider {
  width: 1px;
  background-color: #ccc;
}

.colorDiv {
  border: 2px solid black;
  height: 100%;
  width: 5.81px;
  font-family: Jost;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  border: 0.5px solid rgba(0, 0, 0, 1);
  gap: 0px;
  opacity: 0px;
}

.colorType {
  flex: 1;
  text-align: center;
}

.close-popup {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.popup p {
  margin: 0;
}

.popup-content {
  width: 311px;
  height: 447px;
}

.popupMainDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.firstDiv {
  gap: 10px;
  height: 140px;
  display: flex;
}

.popupTextDiv {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#popup-title {
  font-family: Jost;
  font-size: 16px;
  font-weight: 300;
  line-height: 19.2px;
  text-align: left;
}

#popup-price {
  font-family: Lustria;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

#popup-description > p {
  font-family: Jost;
  font-size: 14px;
  font-weight: 300;
  line-height: 15.4px;
  letter-spacing: -0.01em;
  text-align: left;
}

.section2 {
  padding: 51px;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.productItem {
  transition: display 0.6s ease;
}
.productItem:hover {
  scale: 1.05;
}
.gridItem {
  width: 433px;
  height: 444px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  width: 311px;
  height: 447px;
  gap: 0;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.default-option {
  padding: 10px;
  background-color: #fff;
  border: 1px solid black;
  text-align: left;
  position: relative;
}
#popupImg {
  object-fit: cover;
}

.arrow {
  position: absolute;
  right: 15px;
  top: 38%;
  transform: translateY(-50%);
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.arrowDiv {
  display: flex;
  width: 39.73px;
  height: 100%;
  gap: 0px;
  position: absolute;
  right: 0px;
  top: 0;
  border: 0.5px solid;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}

.arrow.open {
  transform: rotate(-135deg);
}

.dropdown-options {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  z-index: 10;
  max-height: 99px;
  overflow-y: auto;
}

.dropdown-option {
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 36px;
}

.dropdown-option:hover {
  background-color: #000;
  color: #fff;
}

.dropdown-options .dropdown-option:last-child {
  border-bottom: none;
}
.CartButtonDiv {
  width: 271px;
  height: 45px;
  display: flex;
  display: flex;

  background: #000;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #fff;

  text-align: center;
}
.CartButtonDiv:disabled span {
  cursor: not-allowed;
}
.CartButtonDiv a {
  flex: 3;
  text-align: center;
}
.CartButtonDiv span {
  font-size: xx-large;
  flex: 1;
}
#mobile {
  display: none;
}
#desktop {
  display: block;
}

@media (max-width: 768px) {
  .custom-banner .forDesktop {
    display: none;
  }
  .leftside p {
    padding-top: 24px;
    width: auto;
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: center;
  }
  #desktop {
    display: none;
  }
  #mobile {
    display: block;
  }
  .parentDiv {
    flex-direction: column;
  }
  .leftside {
    padding: 10px;
    gap: 0;
  }
  .headingForGrid {
    font-family: Lustria;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
  }
  .productGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .leftside h1 {
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
  }
  .gridItem {
    width: 100%;
    height: auto;
  }

  .popup-content {
    width: 90%;
    height: auto;
    padding: 15px;
  }

  .section2 {
    padding: 20px;
  }

  .arrow {
    right: 10px;
  }
}
